* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

:root{
    --text-color:#222831;
    --background-color:#fffdfd;
    --hover-color:#0c6876;
}

/* Start Navbar */
.navbar-section {
  width: 100%;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: var(--background-color);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;

  }
  
  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  & .nav-links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
  }
  & .nav-links li a{
    color: var(--text-color);
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  & .nav-links li a:hover{
    color: var(--hover-color);
  }
}

.container {
  margin: 0 auto;
  position: sticky;
  max-width: 142rem;
  padding: 9.6rem 2.4rem;
}

/* End Navbar */
